<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		   http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd	
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
	default-autowire="autodetect">


	<!-- 身份证记录Action -->
	<bean id="idRrcordAction" class="cn.yongqing.id.action.IDRrcordAction"
		scope="request">
		<property name="baseService" ref="idRrcordService" />
	</bean>
	<!-- 身份证记录Service -->
	<bean id="idRrcordService" class="cn.yongqing.id.service.IDRrcordService">
		<property name="baseDao" ref="idRrcordDao" />
	</bean>

	<!-- 身份证记录Dao -->
	<bean id="idRrcordDao" class="cn.yongqing.id.dao.IDRrcordDao" />
	
	<!-- 用户详情Action -->
	<bean id="userInfoAction" class="cn.yongqing.id.action.UserInfoAction"
		scope="request">
		<property name="baseService" ref="userInfoService" />
	</bean>
	<!-- 用户详情Service -->
	<bean id="userInfoService" class="cn.yongqing.id.service.UserInfoService">
		<property name="baseDao" ref="userInfoDao" />
	</bean>

	<!-- 用户详情Dao -->
	<bean id="userInfoDao" class="cn.yongqing.id.dao.UserInfoDao">
		 <property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
</beans>